<div class="container" >
    <h3  class="color-error text-center"><%= message %></h3>


    <form class="box" method="post" action="/login">

        <h3>Email cím</h3>
        <input name="email" type="text" value="tompika96@gmail.com">

        <h3>Jelszó</h3>
        <input name="pass" type="password" value="asdfasdf">

        <button>Bejelentkezés</button>

    </form>
</div>