<div class="container"></div>
    <form class="box" method="post" action="/regisztracio">
        <h3>Felhasználónév</h3>
        <input name="userName" type="text">

        <h3>Email</h3>
        <input name="email" type="text">

        <h3>Jelszó</h3>
        <input name="pass" type="password">

        <h3>Jelszó újra</h3>
        <input name="passAgain" type="password">

        <button>Registráció</button>
    </form>
</div>